<h1>Challenge Listing <small>{{challengeController.challenge.Title}}</small></h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body" btf-markdown="challengeController.description.Description" ng-if="challengeController.description.Description"></div>
</div>
<div class="panel panel-default" ng-if="challengeController.attachments">
    <div class="panel-heading">
        <h3 class="panel-title">Attachments</h3>
    </div>
    <div class="panel-body">
        The documents listed here provide additional information for the challenges. Reading and understanding can be helpful to get closer to the solution.
    </div>
    <ul class="list-group">
        <li class="list-group-item"></li>
    </ul>
</div>
<div class="panel panel-default" ng-if="challengeController.hints.length && !challengeController.userDetails.SolvedDate">
    <div class="panel-heading">
        <h3 class="panel-title">Hints</h3>
    </div>
    <div class="panel-body">
        For this challenge are <strong>{{challengeController.challengeHintIDs.length}}</strong> Hints available. But hints are not priceless. Thus, you will get less points for solving a challenge if you activate a hint.<br />
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="hint in challengeController.hints track by $index">
            <b>Hint #{{$index+1}}: </b>
            <button type="button" class="btn btn-xs btn-primary" ng-if="hint.hint==null" ng-click="challengeController.selectHint($index+1)"  data-toggle="modal" data-target="#viewHintModal">Click here to show this hint for {{hint.pointreduction.Points}} points</button>
            <span ng-if="hint.hint.Text" btf-markdown="hint.hint.Text"></span>
        </li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Evaluation</h3>
    </div>
    <div class="panel-body">
        <div ng-if="!challengeController.userDetails.SolvedDate">
            <ng-include src="'components/html/notification_service.html'"></ng-include>
            <form class="form" ng-submit="challengeController.submitSolution(solutionData)" name="solutionForm" novalidate>
                <div class="form-group" ng-class="{'has-error': solutionForm.solution.$dirty && solutionForm.solution.$error.required}">
                    <label for="solution">Challenge Solution</label>
                    <input type="text" class="form-control" name="solution" id="solution"
                           ng-model="solutionData.solution"
                           required>
                    <span ng-show="solutionForm.solution.$dirty && solutionForm.solution.$error.required" class="help-block">Solution token is required</span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="solutionForm.$invalid">Submit Solution for {{challengeController.userSolvingPoints.Points}} points</button>
            </form>
        </div>
        <div class="row" ng-if="challengeController.userDetails.SolvedDate">
            <div class="col-md-8">
                <div class="alert alert-success">Congratulations, you have alreay solved this challenge.</div>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Basepoints for this challenge: <b>{{challengeController.challenge.BasePoints}} points</b></li>
        <li class="list-group-item">Points including speedbonus if solved now: <b>{{challengeController.userSolvingPoints.Points}} points</b></li>
        <li class="list-group-item">Your score including speedbonus for this challenge: <b>{{challengeController.userPoints.Points}} points</b></li>
        <li class="list-group-item">Your number of trys to find the solution: {{challengeController.userDetails.TryCount}}</li>
        <li class="list-group-item">Your first access to this challenges was at: {{challengeController.userDetails.AccessDate | date: "short"}}</li>
    </ul>
</div>


<div class="modal fade" id="viewHintModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Open Hint</h4>
            </div>
            <div class="modal-body">
                <p>By opening a hint you will get less points for solving the challenge. Thus, you should think twice.</p>
                <p></p>
                <p><b>You will receive {{challengeController.selectedHint.pointreduction.Points}} points less for solving the challenge if you open this hint!</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">I'll try it without.</button>
                <button type="button" class="btn btn-primary" ng-click="challengeController.receiveHint()" data-dismiss="modal">Yes, I need help!</button>
            </div>
        </div>
    </div>
</div>
