<h1>Cyber Security Challenge Portal</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome ...</h3>
    </div>
    <div class="panel-body">
        <p>This is the FH Campus Wien Cyber Security Challenge Portal.</p>
        <p>For a listing of all available events on this dashboard click here:</p>
        <p><a class="btn btn-primary btn-sm" href="#!/view_eventList" role="button">Event List</a></p>
    </div>
</div>